body {
    background-color: #FFE53B;
    background-image: linear-gradient(90deg, #FFE53B 0%, #FF2525 74%);

}

ul{
    list-style: none;
}

header {
    display: flex;
    justify-content: center;

}

.navLista {
    display: flex;
    list-style: none;
    font-size: 40px;
    gap: 28px;
    text-transform: uppercase;
}

.nav-item:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);

}

.secao ul{
    display: flex;
    gap: 3vw;
}